<% layout("/layouts/boilerplate.ejs")-%>
<body>
    <h3 class="show-h3"><%=listing.title%></h3>
   <div class="show-card listing-card">
    
       <img src="<%=listing.image.url%>" class=" show-img" alt="Listing img">
       <div class="show-card-body">
       </div>
   </div>

    <ul class="show-ul">
        <li><b>Your destination : </b><%= listing.title %></li>
        <li><b>Description : </b><%= listing.description %></li>
        <!-- <li><listing.image.url %></li> -->
        <li><b>Price :</b> &#8377; <%= listing.price%></li>
        <li><b>Location : </b><%= listing.location %></li>
        <li><b>Country : </b><%= listing.country %></li>
    </ul>
    <a href="/listings/<%=listing._id%>/edit" class="show-edit-btn btn-primary">Edit</a>
    <br><br>
    <form method="POST" action="/listings/<%=listing._id%>/?_method=DELETE">
        <button class="show-form-btn">Delete this listing</button>
    </form>
    <hr>
    <div class="col-8 offset-3 mb-3" >
        <h4>Leave a Review</h4>
        <form action="/listings/<%=listing._id%>/reviews" method="post" novalidate class="needs-validation">
           <div class="mb-3 mt-3">
               <label for="rating" class="form-label">Rating: </label>
               <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
           </div>
           <div class="mb-3 mt-3">
              <label for="comment" class="form-label">Comment: </label>
              <textarea name="review[comment]" id="comment" cols="50" rows="4" class="form-control" required></textarea>
              <div class="invalid-feedback">Please add some comment for review</div>
           </div>
           <button class="btn btn-primary">Submit</button>
        </form>
        
        <hr>

        <p><b>All Reviews</b></p>
           <div class="row">
            <% for(review of listing.reviews) { %>
                <div class="card col-5 ms-3 mb-3">
                      <div class="card-body">
                           <h5 class="card-title">jay jagh</h5>
                           <p class="card-text"><%= review.comment%></p>
                           <p class="card-text"><%= review.rating%> &#9733;</p>
                           <form class="mb-3" method="post" action="/listings/<%=listing._id%>/reviews/<%=review._id %>?_method=DELETE">
                              <button class="btn btn-sm btn-dark">Delete</button>
                           </form>
                      </div>
                </div>
            <% } %>
        </div>
    </div>
</body>

